<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Adicionar Nota</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="appbar">
        <img src="{{ url_for('static', filename='img/logo-getit.png') }}" class="logo">
        <p>Como o Post-it, mas com outro verbo</p>
    </div>

    <div class="form-card">
        <form action="/submit" method="POST">
            <label for="titulo">Título</label>
            <input id="titulo" type="text" name="titulo" required>
            
            <label for="detalhes">Detalhes</label>
            <textarea id="detalhes" name="detalhes" rows="4" required></textarea>
            
            <input type="submit" value="Adicionar Nota">
        </form>
    </div>
</body>
</html>